.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.active {
  font-weight: bold;
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}


nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
}
nav li a {
  transition: color 0.3s, transform 0.3s;
}

nav li a:hover {
  color: blue;
  transform: scale(1.05);
}

nav li a:active {
  color: darkblue;
  transform: scale(0.95);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
